    <section id="home" class="fullheight align-items-center bg-img bg-img-fixed"
        style="background-image: url(img/homepage.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <div class="slogan">
                        <h1 class="left-to-right play-on-scroll">
                            MLAM
                        </h1>
                        <p class="left-to-right play-on-scroll delay-2">
                            Located in the heart of Saigon's Thao Dien area, MLAM offers a chance to leave behind the hustle 
                            & bustle of the city and enjoy inspired cuisine, fine wines and fantastic service. 
                            MLAM is open 7 days a week for breakfast, lunch and dinner.
                        </p>
                        <div class="left-to-right play-on-scroll delay-4">
                            <a href="menu">
                            <button>
                                Order now
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION HOME -->
    <!-- SECION ABOUT -->
    <section class="about fullheight align-items-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-7 h-xs">
                    <img src="img/banner2.jpg" alt=""
                        class="fullwidth left-to-right play-on-scroll">
                </div>
                <div class="col-5 col-xs-12 align-items-center">
                    <div class="about-slogan right-to-left play-on-scroll">
                        <h3>
                            Welcome <span class="primary-color">everyone</span> to our
                            <span class="primary-color">restaurant</span> 
                        </h3>
                        <p>
                            A place where Chef Thierry would no longer be bound by the limitations of 5-star hotels or high-end restaurants, where he’d previously worked. It would be a creative space to explore French gastronomy at his own pace, in an environment designed to facilitate the best of what excellent ingredients could offer.
                            Always fascinated by Asia, Thierry found himself as F&B Director at a resort in Phan Thiet, an ultra-luxury boutique resort. There he met Tina, his future wife, who was working there at the time.
                            When they moved to Saigon, Thierry found the opportunity to do what would have been nearly impossible in France due to costs: purchase a beautiful villa and shape it into one of Vietnam’s most professional and experienced fine dining restaurants.
                            MLAM has found incredible success after years of rigorous staff training and unrestrained exploration of French fine cuisine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECION ABOUT -->
    <!-- FOOD MENU SECTION -->
    <section class="align-items-center bg-img bg-img-fixed" id="food-menu-section"
        style="background-image: url(img/banner3.jpg);">
        <div class="container">
            <div class="food-menu">
                <h1>
                    Check out our <span class="primary-color">New Dishes</span>
                </h1>
                <p>
                    Our menu is carefully crafted so that every bite and every refreshing sip serve up big flavor, 
                    an abundance of fresh ingredients and a taste of the unexpected. Our artisan chefs create crave-worthy 
                    classics alongside a steady rotation of seasonal offerings that take advantage of naturally ripe fruits and 
                    vegetables so their flavor is full and their nutrients, rich. Creative, hand-crafted beverages built around 
                    seasonality, quality ingredients and simple preparations complement every occasion from brunch, lunch, dinner 
                    and, of course, dessert. Always room for dessert.
                </p>
                <div class="food-category">
                    <div class="zoom play-on-scroll">
                        <button class="active" data-food-type="all">
                            New dishes
                        </button>
                    </div>
                </div>

                                <!--Modal Divs-->
                <div id="modalDiv">
                    {{#each foods}}
                        <div id="{{this.code}}" class="overlay">
                        <div class="popup">
                            <a class="close" href="#modal-stop">&times;</a>
                            <div class="modal-img" id="food1">
                                <div class="modal-img-holder bg-img"
                                    style="background-image: url({{this.image}});"></div>
                            </div>
                            <div class="modal-item-info">
                                <div id="modal-info">
                                    <h3>
                                        {{this.name}}
                                    </h3>
                                    <p>
                                        {{this.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="modal-checkout">
                                <form>
                                    <input class="input-number-decrement" type="button" onclick="decrementValue('{{this.code}}box')" value="-"/>
                                    <input class="input-number" type="text" value="1" id="{{this.code}}box">
                                    <input class="input-number-increment" type="button" onclick="incrementValue('{{this.code}}box')" value='+'/>
                                </form>
                                <span class="modal-price"><h3>{{this.price}} VND</h3></span>
                                <button class="addtocart-button" onclick="AddToCart('{{this.code}}')">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <!---------------->

                <div class="food-item-wrap all">
                    <!-- FOOD GET -->
                    {{#each foods}}
                        <div class="food-item {{this.type}}-type">
                            <div class="item-wrap bottom-up play-on-scroll">
                                <a href="#{{this.code}}">
                                    <div class="item-img" id="food1">
                                        <div class="img-holder bg-img"
                                            style="background-image: url({{this.image}});">
                                            </div>
                                    </div>
                                    <div class="item-info">
                                        <div>
                                            <h3>
                                                {{this.name}}
                                            </h3>
                                            <span>
                                                {{this.id}}
                                                {{this.price}} VND
                                            </span>
                                        </div>
                                        <div class="cart-btn">
                                            <i class="bx bx-cart-alt"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>                    
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    {{!-- <section class="about fullheight align-items-center" id="about2">
        <div class="container">
            <div class="row">
                <div class="col-7 h-xs">
                    <img src="img/banner2.jpg" alt=""
                        class="fullwidth left-to-right play-on-scroll">
                </div>
                <div class="col-5 col-xs-12 align-items-center">
                    <div class="about-slogan right-to-left play-on-scroll">
                        <h3>
                            Welcome <span class="primary-color">everyone</span> to our
                            <span class="primary-color">restaurant</span> 
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio natus placeat et eos,
                            dignissimos voluptatem tempora necessitatibus doloribus! Eum qui doloribus odio dolor
                            tenetur nihil impedit vero magni, distinctio soluta!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}